<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js"></script>
    <title>About</title>
</head>
{{>header}}
<body>

    <img src="https://scontent.faep14-2.fna.fbcdn.net/v/t1.0-1/p160x160/28467911_1574199562676677_2545153666105783618_n.jpg?_nc_cat=110&_nc_sid=dbb9e7&_nc_ohc=yP89XeKkfYEAX_i8HCX&_nc_ht=scontent.faep14-2.fna&_nc_tp=6&oh=a3ec32d288fc4b5d5bda34327f8bc623&oe=5F415DEF">  
    Hecho por el sr. {{name}}
    
</body>
{{>footer}}
</html>