<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js"></script>
    <title>Ayuda</title>
</head>
{{>header}}
<body>

<h2>{{helpMsg}}</h2>
    <h3>Lorem</h3>
        Ipsum dolor sit amet
    <h3>Ipsum</h3>
        Ipsum dolor sit amet
    <h3>Dolor</h3>
        Ipsum dolor sit amet
 
</body>
{{>footer}}
</html>